{% load static %}
<!-- ================================
Start Footer
================================= -->
<footer>
  <div class="footerCol">
    <div class="container">
      <ul class="socialCol">
        <li>
          <a target="_blank" href="https://twitter.com/pie_Rsquare"
            ><img src="{% static 'images/twitter.svg' %}" alt="twitter_icon" style="margin-bottom:9px"
          /></a>
        </li>
        <li>
          <a target="_blank" href="https://linkedin.com/in/luwafemi-a-7466a91b2"
            ><img src="{% static 'images/linkedin.svg' %}" alt="linkedin_icon" style="margin-bottom:9px"
          /></a>
        </li>
        <li>
          <a target="_blank" href="https://wa.me/2348180922062">
            <i class="fab fa-whatsapp socials"></i>
          </a>
        </li>
        <li>
          <a target="_blank" href="https://t.me/Luwafemi_A">
            <i class="fab fa-telegram socials"></i>
          </a>
        </li>
        <li>
          <a target="_blank" href="https://github.com/luwafemi">
            <i class="fab fa-github socials"></i>
          </a>
        </li>
        <li>
          <a href="mailto:aladefemi1@gmail.com">
            <img
              style="width: 32px; margin-bottom:11px"
              src="/static/images/gmail.svg"
              alt="gmail_icon"
            />
          </a>
        </li>
      </ul>
      <div class="copyrightCol">
        <p>
          Copyright ©{% now 'Y' %} All rights reserved. Designed by
          <a href="javascript:void(0)">James Granger Design</a>
        </p>
      </div>
    </div>
  </div>
</footer>
<!-- ================================
End Footer
================================= -->
